<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/xadmin/static/bootstrap/bootstrap3/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <div class="row">
      <div class="col-md-4 col-xs-1"></div>
      <div class="col-md-4 col-xs-10">
        <div class="container-fluid">
            <div class="jumbotron">

                {% block content %}
                {% endblock %}
           </div>
        </div>
      </div>
     <div class="col-md-4 col-xs-1"></div>
  </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/xadmin/static/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

  </body>
</html>