{% extends 'indexbase.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}地图{% endblock %}
{% block content %}
    <div id="mapcontainer">
        
        {% include 'blog/_search.html' %}
        {% include 'map/_drawTool.html' %}
       
        <div class="coor">
                <div style="float: left; margin-right: 6px;">
                    <label style="float:left">经度:</label><label style="float:left" id="currMouseLng"></label>
                </div>
                <div style="float: left; margin-right: 6px;">
                    <label style="float:left">纬度:</label><label style="float:left" id="currMouseLat"></label>
                </div>
                <div style="float: left;">
                    <label style="float:left">缩放级别:</label><label style="float:left" id="currZoom">10</label>
                </div>
        </div>
       
    </div>
    <div id="attriFormContainer">
        <button id="attriclose">关闭</button>
        <div id="attriForm1" class="attriForm">
            <form method="post" class="form dark-matter">
                {{ form.csrf_token }}
                {{ form.name.label  }} {{ form.name }}
            </form>
            <button id="attriForm1Apply" class="formApply btn btn-rounded btn-secondary">应用</button>
        </div>
    </div>
    <div class="modal" id="layermodal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info border-0">
                    <h5 class="modal-title text-white">图层</h5>
                    <button type="button" id="layerClose" class="close">
                        <span>&times;</span>
                    </button>
                </div>
    
                <div class="modal-body p-5">
                    <form method="post" class="form">
                        {{ layerform.csrf_token }}
                        {{ layerform.layerName.label  }} {{ layerform.layerName }}
                       
                    </form>
                    <button id="layerSubmit">确定</button>
                    
                </div>
    
                
            </div>
        </div>
    </div>
{% endblock %}
{% block otherscripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map/featureform.css') }}">


<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/Path.Drag.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/Semicircle.js') }}"></script>  
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/DrawStyle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/Leaflet.Editable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/leaflet.Editable.Extends.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/leaflet.contextmenu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map/map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/leaflet-touch-helper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/draw_tool.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet/draw/edit_tool.js') }}"></script>


{% endblock %}
